<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Alterar dados</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">
    <div id="botao-user" hx-swap-oob="true" sec:authorize="isAuthenticated()">
        <a th:hx-get="@{/usuario/alterar}" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
        class="ml-5 rounded-lg border-2 border-gray-600 px-8 py-2 text-gray-300 shadow-md hover:bg-white hover:text-gray-600">
        <span sec:authentication="principal.username"></span></a>
    </div>

    <h1 th:if="${usuarioDTOInput == null}" class="text-2xl md:text-4xl text-center">Não foi encontrado usuário com esse código
    </h1>

        <form th:hx-post="@{/usuario/alterar}" th:object="${usuarioDTOInput}" class="w-1/2 mt-10 ms-16">
            <input type="hidden" th:field="*{codigo}" />
          <div th:replace="~{components/forms :: inputTexto(
            textoLabel='Nome', 
            nomeAtributo='nome',
            isValidado=true)}"></div>

          <div th:replace="~{components/forms :: inputCpf(
            textoLabel='CPF', 
            nomeAtributo='cpf',
            isValidado=true)}"></div>

          <div class="flex justify-between">
            <div class="w-1/2 me-5">
              <div th:replace="~{components/forms :: selectNormal(
                  textoLabel='Método de Pagamento', 
                  nomeAtributo='metodoBancario',
                  listaOpcoes=${metodosBancarios}, 
                  propLabel='descricao', 
                  propValue=null, 
                  placeholder='Selecione um método',
                  isValidado=true)}">
              </div>    
            </div>
            <div class="w-1/2">
              <div th:replace="~{components/forms :: inputTexto(
                textoLabel='Dados Bancarios', 
                nomeAtributo='dadosBancarios',
                isValidado=true)}"></div>
            </div>
          </div>        

          <div class="flex justify-between">
            <div class="w-1/2 me-5">
              <div th:replace="~{components/forms :: inputSenha(
                textoLabel='Senha', 
                nomeAtributo='senha',
                isValidado=true)}"></div>        
            </div>
            <div class="w-1/2">
            </div>
          </div>
          <button type="submit" class="py-3 px-4 inline-flex items-center mt-5 gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Alterar</button>
        </form>
  </main>
  <!-- !conteudo principal -->

</body>

</html>