<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
  layout:decorate="~{layout/layoutpadrao}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Página Principal</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

    <form th:hx-get="@{/pessoa/pesquisar}" class="w-1/2 mt-8 ms-16">
      <div class="flex">
        <div class="flex-1 mr-10">
          <div th:replace="~{components/forms :: inputSimples('Código', codigo, 'number')}"></div>
        </div>
        <div class="flex-1">
          <div th:replace="~{components/forms :: inputSimples('CPF', cpf, 'cpf')}"></div>
        </div>
      </div>

      <div th:replace="~{components/forms :: inputSimples('Nome', nome, 'text')}"></div>
      <div class="flex">
        <div class="flex-1 mr-10">
          <div
            th:replace="~{components/forms :: inputSimples('Data de Nascimento a partir de', dataNascimentoInicial, 'data')}">
          </div>
        </div>
        <div class="flex-1">
          <div th:replace="~{components/forms :: inputSimples('Data de Nascimento até', dataNascimentoFinal, 'data')}">
          </div>
        </div>
      </div>
      <button type="submit"
        class="mt-7 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Pesquisar</button>
    </form>

  </main>
  <!-- !conteudo principal -->

</body>

</html>