<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Cadastro de Leilão</title>
</head>

<body>
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

        <h1 class="text-2xl md:text-4xl text-gray-800 font-bold mb-6 ms-16">Criar Novo Leilão</h1>

        <form th:hx-post="@{/leilao/cadastrar}" th:object="${leilaoDTOInput}" class="w-1/2 mt-10 ms-16">

          <div th:replace="~{components/forms :: inputTexto(
            textoLabel='Nome do Leilão', 
            nomeAtributo='nome',
            isValidado=true)}"></div>

          <div th:replace="~{components/forms :: inputDecimal(
            textoLabel='Preço Inicial (R$)', 
            nomeAtributo='initialPrice',
            isValidado=true)}"></div>

          <div class="mb-5 relative">
            <label for="finalTimestamp" class="block text-sm font-medium mb-2 text-gray-700">Data e Hora de Encerramento</label>
            <input type="datetime-local" id="finalTimestamp" th:field="*{finalTimestamp}"
                   class="py-3 px-4 block w-full border-gray-200 rounded-lg shadow-sm text-sm focus:border-blue-500 focus:ring-blue-500" />
            
            <p class="text-sm text-red-600 mt-2" th:if="${#fields.hasErrors('finalTimestamp')}" th:errors="*{finalTimestamp}"></p>
          </div>

          <button type="submit" class="py-3 px-4 inline-flex items-center mt-5 gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">
            Cadastrar
          </button>
        </form>

  </main>
  </body>
</html>