<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layout/layoutpadrao}" >

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Vacinas</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="tabela" id="main" class="flex flex-col align-middle w-full m-10">
    
    <h1 th:if="${pagina.vazia}" class="text-2xl md:text-4xl text-center">Não foram encontradas vacinas com essa pesquisa</h1>

    <!-- Tabela -->
    <div th:if="${not pagina.vazia}" class="flex flex-col mr-10 ml-10 mt-5">
      <div class="overflow-x-auto">
        <div class="min-w-full inline-block align-middle">
          <div class="border rounded-xl overflow-hidden shadow">
            <table class="min-w-full divide-y divide-gray-200">
              <thead>
                <tr>
                  <th:block th:replace="~{components/paginacao :: coluna(${pagina}, 'codigo', 'Código', '')}"></th:block>
                  <th:block th:replace="~{components/paginacao :: coluna(${pagina}, 'nome', 'Nome', '')}"></th:block>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Descrição</th>
                  <th scope="col" colspan="2" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="vacina : ${pagina.conteudo}" class="odd:bg-white even:bg-gray-100 hover:bg-gray-200">
                  <td th:text="${vacina.codigo}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">John Brown</td>
                  <td th:text="${vacina.nome}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">45</td>
                  <td th:text="${vacina.descricao}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">New York No. 1 Lake Park</td>
                  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <a th:hx-get="@{/vacina/alterar/{codigo}(codigo=${vacina.codigo})}" class="cursor-pointer text-blue-600 hover:text-blue-500 decoration-2 hover:underline focus:outline-hidden focus:underline">Alterar</a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <a th:hx-get="@{/vacina/remover/{codigo}(codigo=${vacina.codigo})}" th:hx-confirm="${'Você vai remover a vacina ' + vacina.nome + '!'}" class="cursor-pointer text-red-600 hover:text-red-500 decoration-2 hover:underline focus:outline-hidden focus:underline">Remover</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div th:replace="~{components/paginacao :: paginacao(${pagina})}"></div> 
        </div>
      </div>
    </div>
    
  </main>
  <!-- !conteudo principal -->

</body>

</html>